



.leagues-div {

    display: flex;
    align-items: stretch; 
    flex-direction: row;

    width: 100%;
}



.leagues-list {

    margin-top: 2rem;;
    min-width: 250px;
 
    height: 600px;
    
    display: flex;
    flex-direction: column; 
    flex: 1; 
    overflow-y: auto; 
    align-items: center;
}

.leagues-list ul{


    display  : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.leagues-list h2{
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.leagues-list li{


    min-width: 200px;
    height: 75px;
    margin: 5px;
}



.leagues-div ul li{

    list-style-type: none;;
    text-align: center;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}


.league-info{
    width: 75%;
    height: 100%;

    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5,110px);
    grid-gap: 1rem;
}

.league-description{

    padding: 1rem;

    border: 1px solid whitesmoke;
    border-radius: 20px;;
    background-color: rgba(0, 0, 255, 0.379);

    grid-column: 1/ 9;
    grid-row: 1 / 3;

    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;

    overflow-y: auto; 
}



.league-info form{
    padding: 1rem;

    border: 1px solid whitesmoke;
    border-radius: 20px;
    background-color: rgba(0, 0, 255, 0.379);

    grid-column: 1 / 2;
    grid-row: 3 / 6;
    
    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.league-info form input{

    padding: 0.2rem;
    width: 9rem;
    height: 1.5rem;
    margin: 0.2rem 0.6rem;
    border: 1px solid white;
    border-radius: 8px;

}

.league-info form button{
    width: 9rem;
    height: 1.5rem;
    margin: 1rem;
    background-color: darkslategrey;
    color: white;
    border: 1px solid white;
    border-radius: 8px;

}
.league-info form button:hover{
    background-color: rgb(30, 46, 46);
}

.clubsbyleague-list{
    padding: 1rem;

    border: 1px solid whitesmoke;
    border-radius: 20px;
    background-color: rgba(0, 0, 255, 0.379);

    grid-column: 2 / 9;
    grid-row: 3 / 6;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: start;

    overflow-y: auto;
    overflow-x: hidden;

}

