



.players-div {

    display: flex;
    align-items: stretch; 
    flex-direction: row;

    width: 100%;

}

.players-list {

    margin-top: 2rem;;
    min-width: 250px;
 
    height: 600px;
    
    display: flex;
    flex-direction: column; 
    flex: 1; 
    overflow-y: auto; 
    align-items: center;
}



.players-list ul{

    display  : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}


.players-list h2{
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.players-list li{


    min-width: 200px;
    height: 75px;
    margin: 5px;
}

.players-div ul li{

    list-style-type: none;;
    text-align: center;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}


.player-info{
    width: 75%;
    height: 100%;

    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,110px);
    grid-gap: 1rem;
}


.player-description{
    padding: 1rem;

    border: 1px solid whitesmoke;
    border-radius: 20px;;
    background-color: rgba(0, 0, 255, 0.379);

    background-repeat: no-repeat;
    background-position:  right center;
    background-size: contain;

    grid-column: 1/ 3;
    grid-row: 1 / 3;

    text-align: left;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;

}

.player-contract{
    padding: 1rem;

    border: 1px solid whitesmoke;
    border-radius: 20px;;
    background-color: rgba(0, 0, 255, 0.379);

    grid-column: 3/ 5;
    grid-row: 1 / 3;

    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
 
}


.player-description h2{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.player-description p{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    color: lightblue
}




.player-transfers-div{

    padding: 1rem;

    border: 1px solid whitesmoke;
    border-radius: 20px;;
    background-color: rgba(0, 0, 255, 0.379);

    grid-column: 1/ 5;
    grid-row: 3 / 6;

    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;

    overflow-y: auto;
    overflow-x: hidden;
} 

.player-transfers-div div{
    margin: 10px;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    background-color: rgba(0, 0, 255, 0.662);
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
}

.player-transfers-div td {
    padding: 10px;
    border: none;
    width: 12.3rem;

}

.player-transfers-div td:nth-child(1) {
    width: 30rem;
}
