
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
}



a{
    text-decoration: none;
    color: white;
}


::-webkit-scrollbar {
    width : 15px;
}

::-webkit-scrollbar-track {
    background-color: blue;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 3px solid blue; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
}


.card-div{
    border: 1px solid whitesmoke;
    width: 20rem;
    height: 75px;
    border-radius: 20px;
    background-color: rgba(0, 0, 255, 0.625);
    margin: 0.2rem;


    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}


.card-div img{
    width: 3.5rem;
    height: 3.5rem;


}

.card-div h2{
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}


.card-div p{
    color : rgb(163, 156, 156);
}

.card-div:hover{
    background-color: darkslategrey;
}

.card-div *  {
    margin: 0px;

}


.search-bar {
    background-color: white;
    width:75%;
    height: 2.5rem;
    border-radius: 10px;
    padding: 0 15px;
    margin: 10px;
    
}

.search-bar input {
    background-color: transparent;
    border: none;
    height: 2.5rem;
    width: 100%;
}

.search-bar input:focus{
    outline: none;
}
